.aboutMe h3,.aboutFW h3 {
	display: inline;
	float: left;
	font-size: 2.1em;
	line-height: 1em;
	margin: -10px 0 0;
	text-shadow: 1px 1px 0 #FFFFFF;
}

.aboutMe {
	clear: left;
	float: left;
	margin: 0 40px 0 0;
	padding-bottom: 30px;
	width: 100%;
	padding-top: 12px;
}

.aboutFW {
	border-top: 1px solid #CCCCCC;
	clear: left;
	float: left;
	width: 100%;
	margin: 0 10px 0 0;
	padding-bottom: 20px;
	padding-top: 20px;
}

.aboutProcess {
	border-top: 1px solid #CCCCCC;
	clear: left;
	float: left;
	width: 100%;
	margin: 0 10px 0 0;
	padding-bottom: 20px;
	padding-top: 20px;
}

.aboutMe p,.aboutFW p {
	padding-top: 10px;
	font-size: 1.3em;
	line-height: 1.8em;
	margin: 45px 0;
}
/**
         * CSS Timeline Styles
         */
ul.events {
	list-style-type: none;
	margin: 0;
	padding: 0 0 20px 0;
}

ul.events li {
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	background: #a6a6a6;
	border: 1px solid #ddd;
	color: #707070;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 6px;
	padding: 3px 0;
	position: relative;
	text-align: center;
}

ul.events li em {
	color: #444444;
	font-weight: normal;
	font-size: 0.9em;
}

ul.intervals {
	list-style-type: none;
	padding: 0;
	display: block;
}

/* The width depends on the number of intervals. For example 100 / 7 = 14.29% -- then subtract a little bit for room for the borders */
ul.intervals li {
	background: #fafafa;
	border-right: 1px solid #ccc;
	color: #999;
	float: left;
	font-size: 1.2em;
	margin: 0;
	padding: 15px 0;
	text-align: center;
	width: 12%;
}

ul.intervals li.first {
	border-left: 1px solid #ccc;
}