.posts{
	border: 1px solid #d7d7d7;
	-webkit-box-shadow: inset 5px 5px 0px #fafafa, inset -5px -5px 0px #fafafa, 0px 0px 5px #d7d7d7;
	box-shadow: inset 5px 5px 0px #fafafa, inset -5px -5px 0px #fafafa, 0px 0px 5px #d7d7d7;

}
.singlepost{
	padding: 20px;
	border: 1px solid #d7d7d7;
	-webkit-box-shadow: inset 5px 5px 0px #fafafa, inset -5px -5px 0px #fafafa, 0px 0px 5px #d7d7d7;
	box-shadow: inset 5px 5px 0px #fafafa, inset -5px -5px 0px #fafafa, 0px 0px 5px #d7d7d7;	
}
.post{
	border-bottom: 1px solid #ddd;
}
.zhfont{
  line-height: 20px;
  color: #444;
  font-size: 14px;
  font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
}
/*.post p{
	margin-right: 0px;
}
.post .posttitle{
	padding-left: 0px;
}
.preimg{
	padding-left: 0px;
}*/

.side, .box{
	border: 1px solid #d7d7d7;
	-webkit-box-shadow: inset 5px 5px 0px #fafafa, inset -5px -5px 0px #fafafa, 0px 0px 5px #d7d7d7;
	box-shadow: inset 5px 5px 0px #fafafa, inset -5px -5px 0px #fafafa, 0px 0px 5px #d7d7d7;
	padding: 10px;
}

.left-side{
	padding: 10px;
}
.avatar{
	width: 150px;
	height: 150px;
	padding: 0;
	padding: 0;
	margin: 0 auto;
	margin-bottom: 15px;
}
.left-side > div{
	margin-bottom: 15px;
}
.title{
	text-align: center;
	font: 24px bold;
	margin-bottom: 20px;
	margin-top: 15px;
}
.content{

}

/* billboard style*/
.billboard{
	margin-bottom: 20px;
}


/*gallery style*/
.gallery{
  position: relative;
  float: left;
  width: 100%;
  display: block;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }


.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }

.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../img/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }
  
/*end gallery style*/

/*hot post box style*/
.hpbox{
  width: 29.5%;
}

/*taglist style*/
.hottags{
  padding-left: 0;
}

.taglist{
  margin-left: 0;
  list-style: none;
}
.taglist li{
  margin-bottom: 15px;
  line-height: 30px;
}
.taglist li a{
  text-decoration: none;
  color: white;
  background: #E53B2C;
  font-weight: normal;
  font-size: 14px;
  padding: 7px 12px;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.taglist li a:hover{
  background-color: #FC9327;
}

/*comments */
.comments-area{
	margin-top: 30px;
}
.comments-list{
	margin: 30px 0 0 0;
}
.comments-list li{
	list-style-type: none;
}
.comments-list li div{
	background: white;
	border: 1px solid #d7d7d7;
	-webkit-box-shadow: 0px 0px 5px #d7d7d7;
	box-shadow: 0px 0px 5px #d7d7d7;
	/*padding: 1.5em 2em;*/
	padding: 15px 20px 5px 20px;
	margin-bottom: 15px;
}
#commentform input{
	width: 40%;
	height: 30px;
	-webkit-box-shadow: 0px 0px 5px #d7d7d7;
	box-shadow: 0px 0px 5px #d7d7d7;
	padding: 5px;
}
#commentform textarea{
	width: 98%;
	display: block;
	-webkit-box-shadow: 0px 0px 5px #d7d7d7;
	box-shadow: 0px 0px 5px #d7d7d7;
	padding: 5px;
}

.warningblock{
	display: none;
}



.social_buttons{
	margin-top: 80px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto ;

}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
  display: block;
}

.fixedside{
	position: fixed;
}


/*like tag style*/
.liketag, .sharetag{
    font-size: 12px !important;
    padding: 2px 10px 3px 10px;
    margin: 0 3px 6px 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    display: inline-block;
    color: #fff;	
}
.liketag{
    background-color: #F08B8C;
}
.sharetag{
	background-color: #A9CC66;
}
.liketag:hover, .sharetag:hover{   
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    color: #fff !important;
    text-shadow: none;	
    text-decoration: none;
}
.liketag:hover, .liked{
	background-color: #b94a48;
}
.sharetag:hover, .shared{
	background: #468847;
}
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 <font></font>  
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; } 