.album{
	display: inline;
    float: left;
    height: 220px;
    margin: 0 24px 24px 0;
    position: relative;
}
.iLikeThis {
    display: inline;
}
.iLikeThis {
    background: url("../img/bg_transparency.png") repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: none;
    padding: 4px 9px 4px 3px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
}
.iLikeThis .counter {
    background: url("../img/heart.png") no-repeat scroll left center transparent;
    font-weight: bold;
    margin-left: 5px;
    padding: 0 0 0 20px;
}
.iLikeThis .counter a {
    cursor: pointer;
}
.album p {
    margin: 0;
}
img.aligncenter {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
    padding: 9px;
}
.album img {
    box-shadow: 4px 4px 10px #CCCCCC;
}
.btn_details_only {
    background: url("../img/btn_details.png") no-repeat scroll left top transparent;
    display: none;
    height: 40px;
    margin: -60px auto 0;
    position: relative;
    text-indent: -9999px;
    width: 137px;
    z-index: 99;
}
.album:hover .iLikeThis {
	display: block;
}
.album:hover .btn_details_only {
    display: block;
}
.album:hover .btn_details_only:hover {
    background-position: left bottom;
}
.btn_preview_w_details {
    background: url("../img/btn_preview.png") no-repeat scroll left top transparent;
    display: none;
    height: 158px;
    margin: -192px auto 0;
    position: relative;
    text-indent: -9999px;
    width: 158px;
    z-index: 99;
}
.album:hover .btn_preview_w_details {
    display: block;
}
.album:hover .btn_preview_w_details:hover {
    background-position: left bottom;
}
