html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,del,dfn,font,img,ins,kbd,q,s,samp,strike,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	border: 0 none;
	font-family: "microsoft yahei";
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0 none;
	padding: 0;
	vertical-align: baseline;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* IE6 */
* html .clearfix {
	height: 1%;
}
/* IE7 */
*:first-child+html .clearfix {
	min-height: 1px;
}

html {
	background: url("../img/bg_html.jpg") repeat scroll center top #F1F1F1;
	height: 100%;
}

body {
	background: url("../img/bg_body.gif") repeat-y scroll left top
		transparent;
	color: #555555;
	font: 62.5% "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
	min-height: 100%;
}

.header {
	background: url("../img/bg_header.jpg") repeat-x scroll center top
		transparent;
	height: 102px;
	position:fixed;
	min-width: 1000px;
	overflow: hidden;
	width: 100%;
	z-index: 999;
}

a.exampleTip {
	color: #FEC92C;
}

a.exampleTip:hover{
	text-decoration: underline;
}

.section {
	text-align: left;
	padding-bottom: 18px;
	border-bottom: 1px solid #333;
	margin-bottom: 18px;
}

.search_box {
	background: url("../img/bg_search.png") no-repeat scroll right top
		transparent;
	display: inline;
	float: right;
	height: 39px;
	margin: 34px 26px 0 0;
	padding: 3px 13px 0 34px;
	width: 241px;
}

.small_search {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	color: #999999;
	font-size: 1.2em;
	height: 18px;
	margin-top: 8px;
	padding: 0;
	width: 241px;
}

.header h1 {
	display: inline;
	float: left;
	height: 32px;
	margin: 38px 24px 0 30px;
	padding: 0;
	width: 324px;
}

h1,h2,h3,h4,h5,h6 {
	color: #7D7974;
	font-size: 1.4em;
	font-weight: 200;
}

a:link {
	color: #25A8E0;
}

.header p {
	color: #999999;
	display: inline;
	float: left;
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	line-height: 1.3em;
	margin: 38px 0 0;
	padding: 0;
	width: 260px;
}

p {
	font-size: 1.2em;
	line-height: 1.6em;
	margin: 16px 0;
}

p img {
	max-width: 100%;
	padding: 0;
}

.container {
	margin: 0 auto;
	position: relative;
	width: 100%;
}

.sidebar {
	left: 0;
	position: fixed;
	top: 120px;
	width: 80px;
}

.side_nav {
	margin: 0;
	width: 80px;
}

.side_nav li {
	height: 90px;
	width: 80px;
}

ul {
	list-style: none outside none;
}

.side_nav li a {
	background: url("../img/bg_nav.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 90px;
	text-indent: -9999px;
	width: 80px;
}

a {
	font-weight: bold;
	text-decoration: none;
}

li.active #mainpage:hover,li.active #mainpage,body.home li #mainpage {
	background-position: -80px 0;
}

#mainpage {
	background-position: 0 0;
}

#mainpage:hover {
	background-position: -160px 0;
}

li.active #mainpage:hover,li.active #mainpage {
	background-position: -80px 0px;
}

#diary {
	background-position: 0 -90px;
}

#diary:hover {
	background-position: -160px -90px;
}

li.active #diary:hover,li.active #diary {
	background-position: -80px -90px;
}

#picture {
	background-position: 0 -270px;
}

#picture:hover {
	background-position: -160px -270px;
}

li.active #picture:hover,li.active #picture {
	background-position: -80px -270px;
}

#aboutus {
	background-position: 0 -180px;
}

#aboutus:hover {
	background-position: -160px -180px;
}

li.active #aboutus:hover,li.active #aboutus {
	background-position: -80px -180px;
}

.main_wrap {
	margin: 0;
	padding-top:120px;
	padding-left: 120px;
}

.main {
	margin: 0;
	overflow: hidden;
	padding: 24px 0;
	width: 100%;
	min-height: 200px;
}

.top_bar {
	margin-bottom: 12px;
	overflow: hidden;
	width: 100%;
}

.more_padding {
	padding-top: 30px;
}

.section_wrap {
	border-top: 1px solid #CCCCCC;
	clear: left;
	margin: 0 40px 0 0;
	padding-bottom: 30px;
	padding-top: 12px;
}

.section_wrap h3 {
	color: #CCCCCC;
	display: inline;
	float: right;
	font-size: 3em;
	line-height: 1em;
	margin: -11px 0 0;
	text-shadow: 1px 1px 0 #FFFFFF;
}

.small {
	color: #999999;
	font-family: Georgia;
	font-size: 1em;
	font-style: italic;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix { *+
	height: 1%;
} /*不知道有什么用处，不加ie7也没有问题*/

/*浮动右侧菜单栏样式-start*/
.group:before, .group:after {
    content: "";
    display: table;
}
.group:before, .group:after {
    content: "";
    display: table;
}
#paging {
    height: 30px;
    line-height: 26px;
    position: fixed;
    right: 20px;
    text-align: left;
    top: 148px;
}
.group{
    display: block;
    z-index: 100;
}
#paging, #paging a {
    color: #BBBBBB;
}
#paging a:HOVER{
    color: #999999;
}
#paging a {
    border-left-style: solid;
    border-left-width: 4px;
    display: block;
    font-style: normal;
    font-weight: normal;
    margin: 0 0 1px;
    padding: 2px 7px 1px;
    text-transform: uppercase;
    width: 70px;
    font-size: 1.2em;
}
/*浮动右侧菜单栏样式-end*/

h1{
    font-size: 28px;
    line-height: 34px;
}
