html, body {
    height: 100%;
}

body {
    color: #333333;
    font-family: "Microsoft YAHEI","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    padding-top: 40px;
} 
