.artical {
	width: 70%;
	float: left;
	margin: 0;
	padding: 22px 25px;
	clear: both;
	margin: 0 0 48px;
}

div.art-cats {
	float: left;
	font-size: 9px;
	margin-bottom: 14px;
	margin-right: 12px;
	margin-top: 2px;
	text-align: center;
	text-transform: uppercase;
	width: 58px;
}

div.art-cats li {
	list-style-type: none;
	margin-bottom: 1px;
}

div.art-cats li.blogTime a {
	font-size: 11px;
	padding: 10px 4px 10px 4px;
}

div.art-cats li a {
	background-color: #262626;
	color: #FFFFFF;
	display: block;
	padding-top: 40px;
	text-decoration: none;
}

div.art-cats em {
	font-size: 18px;
	display: inline-block;
}

div.art-cats li.tag a {
	line-height: 14px;
	padding-top: 0;
}

div.art-cats li.tag a {
	background: none repeat scroll 0 0 #25A8E0;
}

.art-title {
	float: left;
	margin-top: 10px;
	width: 80%;
}

.art-title a {
	color: white;
	text-decoration: none;
	text-shadow: 0 1px 1px blue;
}

.comment-count {
	float: right;
	font-size: 16px;
	margin: 0 !important;
	padding: 7px 0 0;
	width: auto;
}

.comment-count a {
	background: none repeat scroll 0 0 #848484;
	border-radius: 9px 9px 9px 9px;
	color: #FFFFFF;
	display: block;
	padding: 3px 8px;
	text-decoration: none;
}

.art-header {
	display: block;
	height: 100px;
}

.art-header .art-meta {
	border-bottom: 1px solid #D1D1D1;
	color: #909090;
	float: left;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 12px;
	padding: 0 0 2px;
	width: 540px;
}

.art-header .art-meta a {
	color: #909090;
	text-decoration: none;
}

#comments {
	width: 70%;
	float: left;
	padding: 22px 25px;
	margin: 16px 0 48px;
	font-size: 13px;
}

.comments-title {
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	margin-bottom: 5px 0 24px;
	height: 40px;
}

#comments .cmt.top {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 10px;
	padding-bottom: 6px;
	width: 100%;
}

#comments img {
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	margin: 2px 8px 8px 0;
	height: 40px;
	padding: 2px;
	float: left;
}

#comments .cmt .name {
	color: #25a8e0;
	font-size: 13px;
}

#comments .cmt .reply {
	border-left: 1px solid #BBBBBB;
	color: white;
	font-size: 12px;
	margin-left: 12px;
	padding-left: 12px;
}

#comments .cmt .time {
	margin-top: -22px;
	text-align: right;
}

#comments p {
	font-size: 13px;
	line-height: 18px;;
	margin: 12px 0;
}

.cmt.child,.cmt.replyForm {
	border-bottom: 1px dashed #CCCCCC;
	margin: 0 0 10px 44px;
	padding-top: 0px;
}

.cmt.head {
	width: 100%;
	margin-bottom: 12px;
}

.commentR {
	margin: 2px 0 8px 0;
}

.cmt.head textarea {
	background-color: transparent;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right-width: 0px;
	border-left-width: 1px;
	border-top-width: 0px;
	border-top-style: none;
	border-right-style: none;
	padding: 0px;
	margin: 0;
	width: 93%;
	float: left;
	color: white;
	height: 50px;
	line-height: 20px;
	overflow: hidden;
}

.cmt.replyForm textarea {
	width: 91.8%;
	float: left;
	color: #999999;
	height: 40px;
	line-height: 20px;
	overflow: hidden;
}

.proceed {
	font-size: 12px;
}

.proceed .btn {
	background-color: #49AFCD;
	border: medium none;
	color: #FAFAFA;
	cursor: pointer;
	position: absolute;
	left: 940px;;
	height: 30px;
	margin-top: 21px;
	width: 60px;
	float: left;
}

.proceed .btn:HOVER {
	background-color: #2f96b4;
}

.cmt.head .user,.cmt.replyForm .user {
	width: 100%;
	float: left;
}

.cmt.head .guest,.cmt.replyForm .guest {
	width: 100%;
	float: left;
	padding-bottom: 10px;
	margin-bottom: 12px;
}

.cmt.head .guest input,.cmt.replyForm .guest input {
	background-color: transparent;
	border-left: 1px solid #cccccc;
	border-right-width: 0px;
	border-left-width: 1px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	padding: 0px;
	margin: 0;
	
	height: 23px;
	font-size:14px;
	width: 25%;
	margin-right: 2%;
	color: white;
	float: left;
}

.cmt.replyForm .guest input {
	width: 28%;
	margin-right: 2%;
	color: #999;
	float: left;
}

.quote {
	border: 1px dashed white;
	padding: 5px;
	width: 90%;
	margin-left: 10px;
	margin-bottom: 20px;
}