#indexMain {
	margin: auto;
	height: 100%;
	position: relative;
	width: 1140px;
}

.userList {
	height: 150px;
	margin: 0;
	padding: 0;
}

.userList .userLi {
	float: left;
	font-size: 14px;
	height: 44px;
	line-height: 22px;
	position: relative;
	text-align: center;
	width: 44px;
	z-index: 1;
	margin: 1px 1px 0 1.6px;
}

.userList .userLi img {
	width: 44px;
	height: 44px;
}

/* 时钟样式*/
.clock {
	width: 300px;
	margin: 20px 40px 0 0;
	padding: 0;
	color: #fff;
	float: right;
	display: inline-block;
}

.clock #Date {
	font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	text-shadow: 0 0 5px #00c6ff;
	margin-bottom: 10px;
	margin-top: 5px;
}

.clock #hours,.clock #min,.clock #sec {
	display: block;
	font-size: 6em;
	text-align: center;
	width: 90px;
	float: left;
	padding-top: 5px;
	font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
	text-shadow: 0 0 5px #00c6ff;
}

#point {
	width: 8px;
	-moz-animation: mymove 1s ease infinite;
	-webkit-animation: mymove 1s ease infinite;
	float: left;
	display: block;
	font-size: 6em;
}

.intro {
	margin: 0;
	position: relative;
	display: inline-block;
}

.indexContent .content {
	width: 740px;
	display: inline-block;
	float: left;
	margin-right: 20px;
	border-radius: 7px;
	border: 1px solid #c3c3c3;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	margin-bottom: 30px;
	overflow: hidden;
}

.indexContent .aside {
	width: 300px;
	display: inline-block;
	float: right;
	margin-right: 40px;
	color: black;
	padding: 2px 5px 5px 5px;
	margin-bottom: 30px;
	overflow: hidden;
}

.indexContent .aside li {
	cursor: pointer;
	margin-bottom: 15px;
	padding: 5px;
	color: white;
}

.indexContent .aside li b {
	font-size: 22px;
}

.indexContent .aside li:hover {
	border-radius: 7px;
	border: 1px solid #c3c3c3;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.indexTitle {
	width: 800px;
	border: none;
	float: left;
	display: inline-block;
}

.indexTitle p {
	color: #FFFFFF;
	font-family: "proxima-nova-condensed-1", "proxima-nova-condensed-2";
	font-size: 80px;
	font-weight: 800;
	letter-spacing: -2px;
	line-height: normal;
	margin: 0 auto 10px;
	position: relative;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
}

.indexTitle h1 {
	color: #FFFFFF;
	font-size: 17px;
	font-weight: normal;
	line-height: 26px;
	margin: 0 auto 40px;
	padding-right: 380px;
	position: relative;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
	width: 580px;
}

em.ico_diary {
	background: url("../img/nsidebar_bg.png") no-repeat scroll -48px -141px
		transparent;
	float: left;
	height: 20px;
	margin: 11px 0 0 5px;
	width: 22px;
}

em.ico_album {
	background: url("../img/ico_album.png") no-repeat scroll transparent;
	float: left;
	height: 20px;
	margin: 11px 0 0 5px;
	width: 22px;
}

em.ico_about {
	background: url("../img/nsidebar_bg.png") no-repeat scroll -49px -43px
		transparent;
	float: left;
	height: 20px;
	margin: 7px 0 0 5px;
	width: 22px;
}

em.ico_users {
	background: url("../img/nsidebar_bg.png") no-repeat scroll -96px -42px
		transparent;
	float: left;
	height: 20px;
	margin: 7px 0 0 5px;
	width: 22px;
}
.contentTitle {
	border-bottom: 1px solid white;
	color: white;
	font-size: 27px;
	font-weight: 600;
	left: 0;
	margin-bottom: 16px;
	padding: 0 0 8px 40px;
	position: absolute;
	top: 180px;
	width: 160px;
}

.content ul {
	height: 400px;
	list-style: none outside none;
	position: relative;
	width: 10000px;
}

.work-pager {
	height: 10px;
	left: 40px;
	position: absolute;
	top: 240px;
	width: 160px;
	z-index: 7;
}

.work-pager a:link,.work-pager a:visited {
	background: url("../img/dots.png") no-repeat scroll left top transparent;
}

.work-pager a:hover,.work-pager a:active,.work-pager a.activeSlide {
	background: url("../img/dots.png") no-repeat scroll right top
		transparent;
}

.indexContent a:link,a:visited {
	color: #717171;
}

.work-pager a {
	display: block;
	float: left;
	height: 10px;
	margin-right: 6px;
	text-indent: -9999px;
	width: 10px;
}

.contentShow .contentHide {
	float: left;
	overflow: hidden;
	padding: 32px 0 0;
	position: relative;
	width: 740px;
}

.work-lt {
	float: left;
	padding-top: 88px;
	width: 160px;
	font-size:12px;
	padding-left: 40px;
}

.work-rt {
	float: right;
	width: 520px;
}

.contentShow {
	position: absolute;
	top: 0px;
	left: 0px;
	display: list-item;
}

.contentHide {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
.work-rt ul {
	padding: 20px 0 0 40px;
	width: 490px;
}
.work-rt  li{
	padding: 5px;
}
.work-rt h3 span {
    background: none repeat scroll 0 0 #1777B1;
    color: #FFFFFF;
    padding: 0 5px;
    margin-right: 7px;
}
.work-rt p{
    color: #1777B1;
    line-height: normal;
    margin: 0;
}

.work-rt p span{
    color: white;
    line-height: normal;
    margin: 0;
    float: right;
}
