.pic-info-span{
	position: absolute;
	bottom: 20px;
}
.pic-share-span{
	position: absolute;
	bottom: 20px;
	left:45px;
}
.pic-info-ext{
	position: absolute;
	bottom: 30px;
	height: 220px;
	left: 30px;
	background-color: black;
	color:white;
	filter: alpha(opacity=80);
	-moz-opacity: .8;
	-khtml-opacity: .8;
	opacity: .8;
	width: 220px;
	display: none;
}