/*
	Panning Slideshow with jQuery
	Build Internet Tutorial (www.buildinternet.com)
	Written by Zach Dunn
*/

*{margin:0; padding:0;}

body{background:#353637; height:100%;}

#window{clear:both; width:960px; height:350px; background:#131310; overflow:hidden; position:relative; margin:10px auto 10px auto;}

#slideshow{width:1920px; height:700px; overflow:hidden; position:relative;}
	#slideshow li{width:960px; height:350px; float:left; display:inline;}


#content{background:#131310 url('images/speech-bubble.jpg') top left no-repeat; color:#FFF; font-family:georgia, serif; width:960px; margin:0px auto 10px auto; overflow:hidden; padding-top:20px;}

	#content p{font-size:16px; line-height:1.6em; padding:40px 30px 30px 0px; margin:0;}
		#content p a{color:#73ccff;}
		#content img{float:left; padding:30px;}
		
p.footer{text-align:center; color:#ccc; font-size:12px; font-family: arial, sans-serif;}
	p.footer a{color:#73ccff; text-decoration: none;}
		
