*{
	margin: 0;
	padding: 0;
	border: 0 none;
	outline: 0;
}

body{
		font-family: "Myriad Pro", "Lucida Grande", "Verdana", sans-serif;
	font-size: 16px;
}

p{
	margin: 20px 0 40px 0;
}


h1{
	font-size: 36px;
	padding: 0;
	margin: 7px 0;
}

h2{
	font-size: 24px;
}

#container{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 0 0 0;
	position: relative;
}

.section { 
	padding:10px; 
	width:900px; 
	margin:0 auto;
	background-color:#f1f1f1; 
	position:relative; 
}

.section .content { 
	height:800px; 
	background-color:#ddd; 
	margin-left:250px; 
	text-align:center; 
	color:#333; 
	font-size:16px; 
}

.section .menu { 
	position:absolute; 
	left:10px; 
	width:240px; 
	height:100px; 
	background: #06C; 
	text-align:center; 
	color:#fff; 
	font-size:14px; 
}

#ohmygodsomuchwhitespace {
	width: 10px;
	height: 1000px;
}